



	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		

		<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">
		
			<div class="breadcrumb-wrapper">
			
				<img src="app/images/inner-banner.jpg" alt="">

			</div>
		
			<div class="contact-page-wrapper">
			
				<div class="container">
					
					<div class="contact-map">
					
						
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.7275662453476!2d75.86795231453895!3d22.70118348511678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fce207e7d18b%3A0x6bba53c12ab16efe!2sSapna+Sangeeta%2C+Vikram+Tower%2C+311%2C+Sapna+Sangita+Sneash+Nagar+Main+Rd%2C+Durga+Nagar%2C+Agarwal+Nagar%2C+Navlakha%2C+Indore%2C+Madhya+Pradesh+452001!5e0!3m2!1sen!2sin!4v1498365916321" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>       
						
						
						<div class="row">
						
							<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
							
								<div class="section-title">
									<h2 class="text-center">contact us for help</h2>
									<p>However venture pursuit he am mr cordial. Forming musical am hearing studied be luckily. <strong>Ourselves for determine</strong> attending how led gentleman sincerity.</p>
								</div>
							</div>
						
						</div>
						
						<div class="row">

							<div class="col-sm-7 col-md-6 col-md-offset-1 mb-30">
							
								<form class="contact-form-wrapper" data-toggle="validator">
								
									<div class="row">
									
										<div class="col-sm-6">
										
											<div class="form-group">
												<label for="inputName">Your Name <span class="font10 text-danger">(required)</span></label>
												<input id="inputName" type="text" class="form-control" data-error="Your name is required" required>
												<div class="help-block with-errors"></div>
											</div>
											
										</div>
										
										<div class="col-sm-6">
										
											<div class="form-group">
												<label for="inputEmail">Your Email <span class="font10 text-danger">(required)</span></label>
												<input id="inputEmail" type="email" class="form-control" data-error="Your email is required and must be a valid email address" required>
												<div class="help-block with-errors"></div>
											</div>
											
										</div>
										
										<div class="col-sm-12">
										
											<div class="form-group">
												<label>Subject</label>
												<input type="text" class="form-control" />
											</div>
											
										</div>
										
										<div class="col-sm-12">
										
											<div class="form-group">
												<label for="inputMessage">Message <span class="font10 text-danger">(required)</span></label>
												<textarea id="inputMessage" class="form-control" rows="8" data-minlength="50" data-error="Your message is required and must not less than 50 characters" required></textarea>
												<div class="help-block with-errors"></div>
											</div>

										</div>
										
										<div class="col-sm-12">
											<button type="submit" class="btn btn-primary mt-5">Send Message</button>
										</div>
										
									</div>
									
								</form>
								
							</div>
							
							<div class="col-sm-5 col-md-4">
							
								<ul class="address-list">
									<li>
											<h5>Address</h5>
											<address> Sapna Sangeeta, Vikram Tower, 311, Sapna Sangita Sneash Nagar Main Rd, Durga Nagar, Agarwal Nagar, Navlakha, Indore, Madhya Pradesh 452001 </address>
									</li>
									<li>
											<h5>Email</h5><a href="#">support@grosure.com</a>
									</li>
									<li>
											<h5>Phone Number</h5><a href="#">+91-1234567890</a>
									</li>
									<li>
											<h5>Skype</h5><a href="#">your_skype_id</a>
									</li>
									<li>
											<h5>Social Networks</h5>
											<div class="contact-social">
											
												<a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
											
											</div>
									</li>
										
								</ul>
							
							</div>
							
						</div>
					
					</div>

				</div>
				
			</div>	

		</div>
		<!-- end Main Wrapper -->
		
		<!-- start Footer Wrapper -->
		<div class="footer-wrapper scrollspy-footer">
		
			<footer class="main-footer">
				
				<div class="container">
				
					<div class="row">
					
						<div class="col-sm-12 col-md-3 mb-30">
						
							<div class="footer-logo">
								<a href="#home"><i class="education-icon-book7"></i> Gro<strong class="uppercase">Sure</strong></a>
							</div>
							
							<p class="about-us-footer">Abilities or he perfectly pretended so strangers be exquisite. Oh to another chamber pleased imagine do in. Went me rank at last loud shot an draw. Excellent so to no sincerity smallness.</p>
						
						</div>
						
						<div class="col-xs-12 col-sm-12 col-md-6 mb-30">
						
							<div class="newsletter-footer">
							
								<form action="#" method="post" class="row">
									
									<div class="col-xs-12 col-sm-12 col-md-8">
									
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Enter your email address">
											<input type="submit" class="btn btn-submit" value="SUBSCIBE">
										</div>
										
									</div>
									
								</form>
								
							</div>
							
							<ul class="menu-footer">
								<li><a href="#">About</a></li>
								<li><a href="#">People</a></li>
								<li><a href="#">Leadership</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Partners</a></li>
								<li><a href="#">Community</a></li>
								<li><a href="#">Terms</a></li>
								<li><a href="#">Privacy</a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">Press</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Directory</a></li>
							</ul>
						
						</div>
						
						<div class="col-xs-12 col-sm-12 col-md-3 mb-30">
						
							<div class="social-footer clearfix">
								<a href="#"><i class="fa fa-facebook-official"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus "></i></a>
								<a href="#"><i class="fa fa-codepen"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
								<a href="#"><i class="fa fa-jsfiddle"></i></a>
								<a href="#"><i class="fa fa-stack-overflow"></i></a>
							</div>
							
							
							<p class="footer-address">11/87, Lorem ipsum sit amet Indore <br /><span class="block text-white font20 font700 line20 mt-5 mb-5">+91-1234567890</span>support@grosure.com</p>
						
						</div>
						
					</div>
					
				</div>
				
			</footer>
			
			<footer class="secondary-footer">
			
				<div class="container">
				
					<div class="row">
					
						<div class="col-xs-12 col-sm-6">
							<p class="copy-right">&#169; Copyright 2017 grosure</p>
						</div>
						
						<div class="col-xs-12 col-sm-6">
							<ul class="secondary-footer-menu clearfix">
								<li><a href="#">My Account</a></li>
								<li><a href="#">Sign-in</a></li>
								<li><a href="#">Sign-up</a></li>
							</ul>
						</div>
						
					</div>
				
				</div>
				
			</footer>

		</div>
		<!-- end Footer Wrapper -->
		
	</div>
	<!-- end Container Wrapper -->
 
 
<!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="ion-ios-arrow-up"></i></a>
</div>
<!-- end Back To Top -->

<div id="ajaxLoginModal" class="modal fade login-box-wrapper" data-width="500" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none;"></div>
		
<div id="ajaxRegisterModal" class="modal fade login-box-wrapper" data-width="500" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none;">
</div>

<div id="ajaxForgotPasswordModal" class="modal fade login-box-wrapper" data-width="500" data-backdrop="static" data-keyboard="false" tabindex="-1" style="display: none;"></div>


<!-- JS -->
<script src="https://use.fontawesome.com/796412e158.js"></script>
<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/spin.min.js"></script>
<script type="text/javascript" src="js/jquery.introLoader.min.js"></script>
<script type="text/javascript" src="js/typed.js"></script>
<script type="text/javascript" src="js/placeholderTypewriter.js"></script>
<script type="text/javascript" src="js/jquery.slicknav.min.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/select2.full.js"></script>
<script type="text/javascript" src="js/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="js/readmore.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/bootstrap-rating.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/creditly.js"></script>
<script type="text/javascript" src="js/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="js/bootstrap-modal.js"></script>
<script type="text/javascript" src="js/customs.js"></script>